<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Mission to Mars</title>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    
          
        <div class="row">
          <div class="col-12">
              
                  <h2>Latest Mars News</h2>
                  <h3>{{ mars.news_title }}</h3>
                  <p>{{ mars.news_p }}</p>
              
          </div>
        </div>
      
          
              
                  <div class="row">
                      <div class="col-12 col-sm-12 col-md-8 col-lg-8">

                        <h2>Featured Mars Image</h2>
                        <img style="width: 100%;" src="{{ mars.featured_img }}" alt="Mars">
                          
                      </div>
                      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                          
                        <h2>Mars Facts</h2>
                        {{ mars.table_html }}

                      </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-12 text-center">
                      <h2>Mars Hemispheres</h2>
                    </div>
                  </div>
 
                    <div class="row">  

                    {% for x in mars.hemi_dict %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card" style="width: 100%;">
                      <img src="{{ x.img_url }}" class="card-img-top" alt="mars hemisphere">
                      <div class="card-body">
                        <h3 class="card-title">{{ x.title }}</h3>
                      </div>
                    </div>
                    </div>
                    {% endfor %}

                    

 <!--                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                          
                          img 1
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                          
                          img 2
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        
                        img 3
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        
                        img 4
                    </div>  -->

                  </div>

      
  </div>
</body>


</html>
